.aboutUs{
	color: #f95700;
	text-align: center;
	font-size: 50px;
	margin: 50px;
	font-weight: 100;
	animation-duration: 1s;
	animation-name: slidein;
	animation-iteration-count:inherit;
}
@keyframes slidein{
	from{
		margin-left: 100%;
		width: 50%;
	}
	to{
		text-align: center;
	}
}
.cont{
	padding: 70px;
	margin-left: 70px;
	margin-right: 70px;
	background-image:url("https://catherineasquithgallery.com/uploads/posts/2021-02/1613025011_50-p-kartinki-fona-oranzhevogo-tsveta-53.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 50px;
	color: white;
	font-weight: 200;
	font-size: 45px;
}
.foo{
	display: flex;
	margin: 100px;
	margin-top: 100px;
	margin-left: 150px;
	margin-right: 150px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 30px;
	font-weight: 150;
	justify-content: space-between;
}
.foo1{
	background-color:#f2efdf;
	padding: 70px;
	padding-left: 85px;
	padding-right: 85px;
	border-radius: 20px;
	text-align: center;
	box-shadow: 0px 6px 20px rgb(205, 129, 91);
}
.foo1-2 img{
	align-items: center;
}
.foo1-1{
	font-size: 30px;
	font-weight: 150;
}
.foo2{
	background-color: #f2efdf;
	padding: 70px;
	padding-left: 40px;
	padding-right: 40px;
	border-radius: 20px;
	text-align: center;
	box-shadow: 0px 6px 20px rgb(205, 129, 91);
}
.foo2-2{
	padding-left: 10px;
	padding-right: 10px;
}
.foo3{
	background-color: #f2efdf;
	padding: 70px;
	border-radius: 20px;
	text-align: center;
	box-shadow: 0px 6px 20px rgb(205, 129, 91);
}
.text-ab{
	text-align: center;
	font-size: 25px;
	margin: 50px;
	margin-left: 130px;
	margin-right: 130px;
	color: rgba(67, 67, 51, 0.649);
	line-height: 35px;
}