@font-face {
	font-family: 'Alexandria';
	font-style: normal;
	font-weight: 100;
	font-display: swap;
	src: url('fonts/Alexandria-100.ttf') format('truetype');
}
@font-face {
	font-family: 'Alexandria';
	font-style: normal;
	font-weight: 200;
	font-display: swap;
	src: url('fonts/Alexandria-200.ttf') format('truetype');
}
@font-face {
	font-family: 'Alexandria';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url('fonts/Alexandria-300.ttf') format('truetype');
}
@font-face {
	font-family: 'Alexandria';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('fonts/Alexandria-400.ttf') format('truetype');
}
@font-face {
	font-family: 'Alexandria';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url('fonts/Alexandria-500.ttf') format('truetype');
}
@font-face {
	font-family: 'Alexandria';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url('fonts/Alexandria-600.ttf') format('truetype');
}
@font-face {
	font-family: 'Alexandria';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url('fonts/Alexandria-700.ttf') format('truetype');
}
@font-face {
	font-family: 'Alexandria';
	font-style: normal;
	font-weight: 800;
	font-display: swap;
	src: url('fonts/Alexandria-800.ttf') format('truetype');
}
@font-face {
	font-family: 'Alexandria';
	font-style: normal;
	font-weight: 900;
	font-display: swap;
	src: url('fonts/Alexandria-900.ttf') format('truetype');
}