@media (max-width: 769px) {
    .content {
        height: 100%;
        flex-direction: column-reverse;
        margin-top: 50px;
        margin-bottom: 100px;
    }

    .left-side {
        margin-top: 30px;
        margin-bottom: 50px;
    }

    .left-side::before {
        display: none;
    }

    .right-side1 {
        margin-left: 10px;
    }

    .foo {
        flex-direction: column-reverse;
    }

    .foo1 {
        justify-content: space-around;
    }

    .tbl-header {
        height: 50px;
    }
    th {
        padding: 20px 10px 5px 10px;
        font-size: 12px;
    }
    section {
        padding: 0 0 !important;
        width: 100%;
    }
    td {
        padding: 10px;
        font-size: 10px;
    }
    .btn {
        width: 9vw !important;
    }
    #btnEmpty {
        padding: 0 6px;
        right: 20vw;
    }
    .btnBuy {
        right: 10vw;
    }
    .right-side {
        font-size: 14px;
    }
    .account-logo {
        width: 25px;
        height: 25px;
    }
    .user-info-change img {
        width: 20px;
        height: 20px;
    }
    .set {
        font-size: 3vh;
    }
    .set img {
        margin-left: 13vw !important;
    }
    .sign {
        width: 35vw;
    }
    .sign h1 {
        font-size: 7vh;
    }
    .sign-card hr {
        width: 30vw;
    }
    .i {
        padding: 1.5vh 1vw;
        width: 28vw;
    }
    .sign-card p {
        font-size: 13px;
    }
    .sign-btn {
        font-size: 15px;
    }
    .register {
        width: 33vw;
    }
    .category-title {
        margin-top: 5vh;
    }
}

@media (max-width: 450px) {
    .foo {
        align-items: center;
    }

    .cont {
        margin-left: 10px;
        margin-right: 10px;
    }

    .text-ab {
        text-align: center;
        margin-left: 30px;
        margin-right: 30px;
    }
}