@media (max-width: 800px) {
    .content{
        height: 100%;
        flex-direction: column-reverse;
        margin-top: 50px;
        margin-bottom: 100px;
    }
    .left-side{
        margin-top: 30px;
        margin-bottom: 50px;
    }
    .left-side::before{
        display: none;
    }
    .right-side1{
        margin-left: 10px;
    }
}