.cover {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 2;
}

.sign {
	position: fixed;
	z-index: 3;
	width: 25vw;
	height: fit-content;
	border-radius: 20px;
	background-color: rgba(255, 255, 255, 0.95);
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: var(--orange);
	border: 2px solid var(--orange);
	padding: 5vh 1vw;
}

.register, .login {
	z-index: 3;
	width: 25vw;
	height: fit-content;
	border-radius: 20px;
	background-color: rgba(255, 255, 255, 0.8);
	text-align: center;
	color: var(--orange);
	border: 2px solid var(--orange);
	padding: 5vh 1vw;
	margin: 5vh 0;
}

.sign-card {
	display: flex;
	flex-direction: column;
}

.sign-card p {
	padding-top: 2vh;
}

.i {
	background-color: rgba(0, 0, 0, 0) !important;
    border: none !important;
    outline: none;
    margin-top: 5vh !important;
    margin-bottom: 1vh !important;
	color: var(--orange) !important;
    display: flex;
    align-self: flex-start;
    border: none;
    padding: 0.5vh 0;
    width: 22.5vw;
	margin: 0 1vw;
    color: var(--orange) !important;
	font-size: 1.3vw;
}

.i ::placeholder {
	font-size: 1.3vw !important;
	color: var(--orange);
	opacity: 0.7;
}

.sign-btn {
	text-align: center;
	margin: 5vh auto 0;
	width: 10vw;
	height: 6vh;
	border-radius: 20px;
	font-size: 20px;
	cursor: pointer;
	background-color: #fff;
	border: 2px solid var(--orange);
	color: var(--orange);
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
}

.sign-btn:hover {
	background-color: var(--orange);
	color: #fff;
}

.register {
	padding: 3vh 1vw;
    margin: 2.5vh 0;
    height: min-content;
    animation-duration: 1s;
    animation-name: slidetop;
    animation-iteration-count: inherit;
}

@keyframes slidetop {
    from {
        margin-top: 300px;
    }
    to {
        height: fit-content;
    }
}