@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
	--orange: #f95700;
}

* {
  	margin: 0;
  	padding: 0;
  	font-family: "Alexandria", sans-serif;
}

html {
	scroll-behavior: smooth;
}

a{
	color: black;
	text-decoration: none;
}
.page {
  	position: relative;
  	min-height: 100vh;
}

.content-wrapper {
  	padding-bottom: 7rem;
}

section {
	padding: 0 5vw;
	margin: 0 auto;
	display: flex;
	justify-content: center;
}

.non-copy {
  	-moz-user-select: none;
 	-khtml-user-select: none;
 	-webkit-user-select: none;
	user-select: none;
}

body {
    background-color: #fff;
}

header {
	background-color: var(--orange);
	color: #fff;
	padding: 0 2vw;
	height: 4rem;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	text-align: center;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
}

footer {
	position: absolute;
  	bottom: 0;
	width: 100%;
    background-color: var(--orange);
	color: #fff;
	padding: 0 2vw;
	height: 4rem;
	display: flex;
	justify-content: space-evenly;
    align-items: center;
	text-align: center;
}

.right-side {
	font-size: medium;
	display: flex;
	justify-content: space-evenly;
	width: 30vw;
}

.right-side img {
	width: 1.5vw;
}

.wishlist, .contacts, .about-us, .account, .cart {
	display: flex;
	align-items: center;
	cursor: pointer;
	position: relative;
	color: currentColor;
}

.wishlist p, .contacts p, .about-us p, .account p, .cart p {
	margin-left: 0.5vw;
}

.wishlist::after, 
.contacts::after, 
.about-us::after, 
.account::after, 
.cart::after {
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 1px;
	bottom: 0;
	left: 0;
	background-color: currentColor;
	transform-origin: bottom right;
	transition: transform 0.1s ease-out;
	-webkit-transition: transform 0.1s ease-out;
	-moz-transition: transform 0.1s ease-out;
	-ms-transition: transform 0.1s ease-out;
	-o-transition: transform 0.1s ease-out;
}

.wishlist:hover::after, 
.contacts:hover::after, 
.about-us:hover::after,
.account:hover::after, 
.cart:hover::after {
	transform-origin: bottom left;
	transform: scaleX(1);
	-webkit-transform: scaleX(1);
	-moz-transform: scaleX(1);
	-ms-transform: scaleX(1);
	-o-transform: scaleX(1);
}

.logo {
	letter-spacing: 0.4vw;
	text-transform: uppercase;
	font-size: xx-large;
	font-weight: 900;
	display: flex;
	justify-content: start;
	width: 40vw;
}

.decor-none {
	color: currentColor;
	text-decoration: none;
}

.uppercase {
	text-transform: uppercase;
}

.buttons {
	margin-top: 3vh;
}

.categories button {
	border: 2px solid var(--orange);
	border-radius: 2vw;
	outline: 0;
	padding: 1vh;
	margin: 1vh;
	color: var(--orange);
	background-color: #fff;
	text-align: center;
	cursor: pointer;
	width: 15vw;
	font-size: 1vw;
	-webkit-border-radius: 2vw;
	-moz-border-radius: 2vw;
	-ms-border-radius: 2vw;
	-o-border-radius: 2vw;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
}

.categories button:hover {
	border: 2px solid var(--orange);
	color: #fff;
	background-color: var(--orange);
}

.category-title {
	display: flex;
	flex-direction: row;
	justify-content: start;
	margin-top: 3vh;
	margin-left: 2vw;
}

.category-title img {
	width: 2vw;
}

.category-title h1 {
	font-weight: 400;
}

.product-card {
	cursor: pointer;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	width: 15vw;
	text-align: start;
	margin: 2vh;
	border-radius: 1vw;
	-webkit-border-radius: 1vw;
	-moz-border-radius: 1vw;
	-ms-border-radius: 1vw;
	-o-border-radius: 1vw;
}

.product-card-image {
	width: 90%;
	padding: 2vh 1vw;
}

.product-card-company {
	opacity: 0.5;
	font-size: 1.1vw;
	margin-bottom: -0.8vh;
	max-width: 13vw;
}

.product-card-title {
	height: 7vh;
}

.product-card-title, .product-card-price {
	margin-top: 1vh;
	font-size: 1.3vw;
	margin-bottom: 0.5vh;
	max-width: 13vw;
}
  
.product-card-price {
	color: var(--orange);
	margin-bottom: 1.5vh;
}

.add-button button {
	border: none;
	border-radius: 2vw;
	outline: 0;
	padding: 1vh;
	margin: 1vh;
	color: #fff;
	background-color: var(--orange);
	text-align: center;
	cursor: pointer;
	width: 90%;
	font-size: 1vw;
	-webkit-border-radius: 2vw;
	-moz-border-radius: 2vw;
	-ms-border-radius: 2vw;
	-o-border-radius: 2vw;
}
  
.add-button button:hover {
	opacity: 0.7;
}

.add-button {
	overflow: hidden;
	max-height: 0;
	transition: max-height 0.7s;
	-webkit-transition: max-height 0.7s;
	-moz-transition: max-height 0.7s;
	-ms-transition: max-height 0.7s;
	-o-transition: max-height 0.7s;
}

.product-card:hover > .add-button {
	max-height: 7vh;
}

.category-products {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
}

table {
	width: 100%;
	table-layout: fixed;
}

.tbl-header, .tbl-footer {
	background-color: var(--orange);
	color: #fff;
}

.tbl-content {
	max-height: 30vh;
	overflow-x: auto;
	margin-top: 0;
	border: 1px solid var(--orange);
}

th {
	padding: 20px 15px;
	text-align: left;
	font-weight: 500;
	text-transform: uppercase;
}

td {
	padding: 15px;
	text-align: left;
	vertical-align: middle;
	font-weight: 300;
	border-bottom: solid 1px var(--orange);
}

.text-center {
	text-align: center;
}

#cart-display {
	width: 80%;
	padding-top: 5vh;
}

.tbl-heading {
	padding-bottom: 2vh;
}

#btnEmpty {
	padding: 5px 10px;
	float: right;
	text-decoration: none;
	border-radius: 10vw;
	margin: 10px 0;
	cursor: pointer;
	-webkit-border-radius: 10vw;
	-moz-border-radius: 10vw;
	-ms-border-radius: 10vw;
	-o-border-radius: 10vw;
}

.cover {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 2;
}

.sign {
	position: fixed;
	z-index: 3;
	width: 25vw;
	height: fit-content;
	border-radius: 20px;
	background-color: rgba(255, 255, 255, 0.95);
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: var(--orange);
	border: 2px solid var(--orange);
	padding: 5vh 1vw;
}

.register, .login {
	z-index: 3;
	width: 25vw;
	height: fit-content;
	border-radius: 20px;
	background-color: rgba(255, 255, 255, 0.8);
	text-align: center;
	color: var(--orange);
	border: 2px solid var(--orange);
	padding: 5vh 1vw;
	margin: 5vh 0;
}

.sign-card {
	display: flex;
	flex-direction: column;
}

.sign-card p {
	padding-top: 2vh;
}

.i {
	background-color: rgba(0, 0, 0, 0) !important;
    border: none;
    outline: none;
    margin-top: 5vh;
    margin-bottom: 1vh;
	color: var(--orange) !important;
}

input {
    display: flex;
    align-self: flex-start;
    border: none;
    padding: 0.5vh 0;
    width: 22.5vw;
	margin: 0 1vw;
    color: var(--orange) !important;
	font-size: 1.3vw;
}

#password, #confirm-password {
	font-size: 2vw;
}

::placeholder {
	font-size: 1.3vw;
	color: var(--orange);
	opacity: 0.7;
}

.sign-btn {
	text-align: center;
	margin: 5vh auto 0;
	width: 10vw;
	height: 6vh;
	border-radius: 20px;
	font-size: 20px;
	cursor: pointer;
	background-color: #fff;
	border: 2px solid var(--orange);
	color: var(--orange);
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
}

.sign-btn:hover {
	background-color: var(--orange);
	color: #fff;
}

hr {
	width: 23vw;
	background-color: rgba(255, 255, 255, 0.3);
	border: 0.1px solid;
	margin-left: 12px;
}

#cart-is-empty {
	text-align: center;
	padding: 15vh 0;
}

.hide {
	position: absolute;
	visibility: hidden;
}

.btn-table {
	height: 24px;
	width: 24px;
	border: 2px solid var(--orange);
	border-radius: 100%;
	color: var(--orange);
	background-color: transparent;
	text-align: center;
	cursor: pointer;
	font-size: 1vw;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-ms-border-radius: 100%;
	-o-border-radius: 100%;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
}

.btn-table:hover {
	border: 2px solid var(--orange);
	color: #fff;
	background-color: var(--orange);
}

.ml-1 {
	margin-left: 1vw;
}

.mr-1 {
	margin-right: 1vw;
}
.aboutUs{
	color: #f95700;
	text-align: center;
	font-size: 50px;
	margin: 50px;
	font-weight: 100;
}
.cont{
	padding: 70px;
	margin-left: 50px;
	margin-right: 50px;
	background-image: url("https://static.tildacdn.com/tild6531-3132-4262-b235-383331323537/ezgif-3-fc29afdd33.gif");
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 50px;
	font-family: 'MyFonts', Arial, sans-serif;
	color: white;
	font-weight: 200;
	font-size: 50px;
}