:root {
	--white: #fff;
	--orange: #f95700;
}

* {
  	margin: 0;
  	padding: 0;
  	font-family: "Alexandria", sans-serif;
}

html {
	scroll-behavior: smooth;
}

.page {
  	position: relative;
  	min-height: 100vh;
}

.content-wrapper {
  	padding-bottom: 8vh;
}

section {
	padding: 0 5vw;
	margin: 0 auto;
	display: flex;
	justify-content: center;
}

.non-copy {
  	-moz-user-select: none;
 	-khtml-user-select: none;
 	-webkit-user-select: none;
	user-select: none;
}

body {
    background-color: var(--white);
}

header {
	background-color: var(--orange);
	color: var(--white);
	padding: 2vw;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	text-align: center;
	text-decoration: none 0.15em rgba(0, 0, 0, 0);
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
}

.right-side {
	font-size: medium;
	display: flex;
	justify-content: space-evenly;
	width: 30vw;
}

.right-side img {
	width: 1.5vw;
}

.wishlist, .contacts, .about-us, .account, .cart {
	display: flex;
	align-items: center;
	cursor: pointer;
	position: relative;
	color: currentColor;
}

.wishlist p, .contacts p, .about-us p, .account p, .cart p {
	margin-left: 0.5vw;
}

.wishlist::after, 
.contacts::after, 
.about-us::after, 
.account::after, 
.cart::after {
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 1px;
	bottom: 0;
	left: 0;
	background-color: currentColor;
	transform-origin: bottom right;
	transition: transform 0.1s ease-out;
	-webkit-transition: transform 0.1s ease-out;
	-moz-transition: transform 0.1s ease-out;
	-ms-transition: transform 0.1s ease-out;
	-o-transition: transform 0.1s ease-out;
}

.wishlist:hover::after, 
.contacts:hover::after, 
.about-us:hover::after,
.account:hover::after, 
.cart:hover::after {
	transform-origin: bottom left;
	transform: scaleX(1);
	-webkit-transform: scaleX(1);
	-moz-transform: scaleX(1);
	-ms-transform: scaleX(1);
	-o-transform: scaleX(1);
}

.logo {
	letter-spacing: 0.4vw;
	text-transform: uppercase;
	font-size: xx-large;
	font-weight: 900;
	display: flex;
	justify-content: start;
	width: 40vw;
}

.decor-none {
	color: currentColor;
	text-decoration: none;
}

.uppercase {
	text-transform: uppercase;
}

.buttons {
	margin-top: 3vh;
}

.categories button {
	border: var(--orange) solid;
	border-width: 0.3vh;
	border-radius: 2vw;
	outline: 0;
	padding: 1vh;
	margin: 1vh;
	color: var(--orange);
	background-color: var(--white);
	text-align: center;
	cursor: pointer;
	width: 15vw;
	font-size: 1vw;
	-webkit-border-radius: 2vw;
	-moz-border-radius: 2vw;
	-ms-border-radius: 2vw;
	-o-border-radius: 2vw;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
}

.categories button:hover {
	border: var(--orange) solid;
	border-width: 0.2vh;
	color: var(--white);
	background-color: var(--orange);
}

.category-title {
	display: flex;
	flex-direction: row;
	justify-content: start;
	margin-top: 3vh;
	margin-left: 2vw;
}

.category-title img {
	width: 2vw;
}

.category-title h1 {
	margin-left: 1vw;
	font-weight: 400;
}

.product-card {
	cursor: pointer;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	width: 15vw;
	text-align: start;
	margin: 2vh;
	border-radius: 1vw;
	-webkit-border-radius: 1vw;
	-moz-border-radius: 1vw;
	-ms-border-radius: 1vw;
	-o-border-radius: 1vw;
}

.product-card-image {
	width: 90%;
	padding: 2vh 1vw;
}

.product-card-company {
	opacity: 0.5;
	font-size: 1.1vw;
	margin-left: 1vw;
	margin-bottom: -0.8vh;
	max-width: 13vw;
}

.product-card-title {
	height: 7vh;
}

.product-card-title, .product-card-price {
	margin-top: 1vh;
	font-size: 1.3vw;
	margin-bottom: 0.5vh;
	margin-left: 1vw;
	max-width: 13vw;
}
  
.product-card-price {
	color: var(--orange);
	margin-bottom: 1.5vh;
}

.add-button button {
	border: none;
	border-radius: 2vw;
	outline: 0;
	padding: 1vh;
	margin: 1vh;
	color: var(--white);
	background-color: var(--orange);
	text-align: center;
	cursor: pointer;
	width: 90%;
	font-size: 1vw;
	-webkit-border-radius: 2vw;
	-moz-border-radius: 2vw;
	-ms-border-radius: 2vw;
	-o-border-radius: 2vw;
}
  
.add-button button:hover {
	opacity: 0.7;
}

.add-button {
	overflow: hidden;
	max-height: 0;
	transition: max-height 0.7s;
	-webkit-transition: max-height 0.7s;
	-moz-transition: max-height 0.7s;
	-ms-transition: max-height 0.7s;
	-o-transition: max-height 0.7s;
}

.product-card:hover > .add-button {
	max-height: 7vh;
}

.category-products {
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: start;
}

footer {
    background-color: var(--orange);
	color: var(--white);
	padding: 2vw;
	display: flex;
	justify-content: space-evenly;
    align-items: center;
	text-align: center;
	text-decoration: none 0.15em rgba(0, 0, 0, 0);
}

.add {
	position: absolute;
	border: 3px solid black;
	border-radius: 20px;
	width: 20vw;
	z-index: 3;
	top: 80vh;
	right: 5vw;
	background-color: rgba(0, 0, 0, 0.2)
}

#snackbar {
	visibility: hidden;
	min-width: 20vw;
	margin: 0;
	background-color: var(--white);
	color: var(--orange);
	text-align: center;
	padding: 16px;
	position: fixed;
	z-index: 1;
	left: 75%;
	bottom: 30px;
	border: var(--orange) 2px solid;
	border-radius: 10vw;
	-webkit-border-radius: 10vw;
	-moz-border-radius: 10vw;
	-ms-border-radius: 10vw;
	-o-border-radius: 10vw;
}
  
#snackbar.show {
	visibility: visible;
	-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
	animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
  
@-webkit-keyframes fadein {
	from {bottom: 0; opacity: 0;} 
	to {bottom: 30px; opacity: 1;}
}
  
@keyframes fadein {
	from {bottom: 0; opacity: 0;}
	to {bottom: 30px; opacity: 1;}
}
  
@-webkit-keyframes fadeout {
	from {bottom: 30px; opacity: 1;} 
	to {bottom: 0; opacity: 0;}
}
  
@keyframes fadeout {
	from {bottom: 30px; opacity: 1;}
	to {bottom: 0; opacity: 0;}
}

table {
	width: 100%;
	table-layout: fixed;
}

.tbl-header, .tbl-footer {
	background-color: var(--orange);
	color: var(--white);
}

.tbl-content {
	max-height: 30vh;
	overflow-x: auto;
	margin-top: 0px;
	border: 1px solid var(--orange);
}

th {
	padding: 20px 15px;
	text-align: left;
	font-weight: 500;
	text-transform: uppercase;
}

td {
	padding: 15px;
	text-align: left;
	vertical-align: middle;
	font-weight: 300;
	border-bottom: solid 1px var(--orange);
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
	padding-right: 1vw;
}

#cart-display {
	width: 80%;
}