@import url("header.css");
@import url("footer.css");


:root {
	--orange: #f95700;
}

* {
  	margin: 0;
  	padding: 0;
  	font-family: "Alexandria", sans-serif;
}

html {
	scroll-behavior: smooth;
}

a{
	color: black;
	text-decoration: none;
}
.page {
  	position: relative;
  	min-height: 100vh;
}

.content-wrapper {
  	padding-bottom: 7rem;
}

.cards_row {
    padding: 0 5vw;
	margin: 0 auto;
	display: flex;
	justify-content: center;
}


body {
    background-color: #fff;
}

.buttons {
	margin-top: 3vh;
}

.categories button {
	border: 2px solid var(--orange);
	border-radius: 2vw;
	outline: 0;
	padding: 1vh;
	margin: 1vh;
	color: var(--orange);
	background-color: #fff;
	text-align: center;
	cursor: pointer;
	width: 15vw;
	font-size: 1vw;
	-webkit-border-radius: 2vw;
	-moz-border-radius: 2vw;
	-ms-border-radius: 2vw;
	-o-border-radius: 2vw;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
}

.categories button:hover {
	border: 2px solid var(--orange);
	color: #fff;
	background-color: var(--orange);
}

.category-title {
	display: flex;
	flex-direction: row;
	justify-content: start;
	margin-top: 3vh;
	margin-left: 2vw;
}

.category-title img {
	width: 2vw;
}

.category-title h1 {
	font-weight: 400;
}

.product-card {
	cursor: pointer;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	width: 15vw;
	text-align: start;
	margin: 2vh;
	border-radius: 1vw;
	-webkit-border-radius: 1vw;
	-moz-border-radius: 1vw;
	-ms-border-radius: 1vw;
	-o-border-radius: 1vw;
}

.product-card-image {
	width: 90%;
	padding: 2vh 1vw;
}

.product-card-company {
	opacity: 0.5;
	font-size: 1.1vw;
	margin-bottom: -0.8vh;
	max-width: 13vw;
}

.product-card-title {
	height: 7vh;
}

.product-card-title, .product-card-price {
	margin-top: 1vh;
	font-size: 1.3vw;
	margin-bottom: 0.5vh;
	max-width: 13vw;
}
  
.product-card-price {
	color: var(--orange);
	margin-bottom: 1.5vh;
}

.add-button button {
	border: none;
	border-radius: 2vw;
	outline: 0;
	padding: 1vh;
	margin: 1vh;
	color: #fff;
	background-color: var(--orange);
	text-align: center;
	cursor: pointer;
	width: 90%;
	font-size: 1vw;
	-webkit-border-radius: 2vw;
	-moz-border-radius: 2vw;
	-ms-border-radius: 2vw;
	-o-border-radius: 2vw;
}
  
.add-button button:hover {
	opacity: 0.7;
}

.add-button {
	overflow: hidden;
	max-height: 0;
	transition: max-height 0.7s;
	-webkit-transition: max-height 0.7s;
	-moz-transition: max-height 0.7s;
	-ms-transition: max-height 0.7s;
	-o-transition: max-height 0.7s;
}

.product-card:hover > .add-button {
	max-height: 7vh;
}

.category-products {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
}

table {
	width: 100%;
	table-layout: fixed;
}

.tbl-header, .tbl-footer {
	background-color: var(--orange);
	color: #fff;
}

.tbl-content {
	max-height: 30vh;
	overflow-x: auto;
	margin-top: 0;
	border: 1px solid var(--orange);
}

th {
	padding: 20px 15px;
	text-align: left;
	font-weight: 500;
	text-transform: uppercase;
}

td {
	padding: 15px;
	text-align: left;
	vertical-align: middle;
	font-weight: 300;
	border-bottom: solid 1px var(--orange);
}

.text-center {
	text-align: center;
}

#cart-display {
	width: 80%;
	padding-top: 5vh;
}

.tbl-heading {
	padding-bottom: 2vh;
}

#btnEmpty {
	padding: 5px 10px;
	float: right;
	text-decoration: none;
	border-radius: 10vw;
	margin: 10px 0;
	cursor: pointer;
	-webkit-border-radius: 10vw;
	-moz-border-radius: 10vw;
	-ms-border-radius: 10vw;
	-o-border-radius: 10vw;
}

.cover {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 2;
}

.sign {
	position: fixed;
	z-index: 3;
	width: 25vw;
	height: fit-content;
	border-radius: 20px;
	background-color: rgba(255, 255, 255, 0.95);
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: var(--orange);
	border: 2px solid var(--orange);
	padding: 5vh 1vw;
}

.register, .login {
	z-index: 3;
	width: 25vw;
	height: fit-content;
	border-radius: 20px;
	background-color: rgba(255, 255, 255, 0.8);
	text-align: center;
	color: var(--orange);
	border: 2px solid var(--orange);
	padding: 5vh 1vw;
	margin: 5vh 0;
}

.sign-card {
	display: flex;
	flex-direction: column;
}

.sign-card p {
	padding-top: 2vh;
}

.i {
	background-color: rgba(0, 0, 0, 0) !important;
    border: none;
    outline: none;
    margin-top: 5vh;
    margin-bottom: 1vh;
	color: var(--orange) !important;
}

input {
    display: flex;
    align-self: flex-start;
    border: none;
    padding: 0.5vh 0;
    width: 22.5vw;
	margin: 0 1vw;
    color: var(--orange) !important;
	font-size: 1.3vw;
}

#password, #confirm-password {
	font-size: 2vw;
}

::placeholder {
	font-size: 1.3vw;
	color: var(--orange);
	opacity: 0.7;
}

.sign-btn {
	text-align: center;
	margin: 5vh auto 0;
	width: 10vw;
	height: 6vh;
	border-radius: 20px;
	font-size: 20px;
	cursor: pointer;
	background-color: #fff;
	border: 2px solid var(--orange);
	color: var(--orange);
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
}

.sign-btn:hover {
	background-color: var(--orange);
	color: #fff;
}

hr {
	width: 23vw;
	background-color: rgba(255, 255, 255, 0.3);
	border: 0.1px solid;
	margin-left: 12px;
}

#cart-is-empty {
	text-align: center;
	padding: 15vh 0;
}

.hide {
	position: absolute;
	visibility: hidden;
}

.btn-table {
	height: 24px;
	width: 24px;
	border: 2px solid var(--orange);
	border-radius: 100%;
	color: var(--orange);
	background-color: transparent;
	text-align: center;
	cursor: pointer;
	font-size: 1vw;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-ms-border-radius: 100%;
	-o-border-radius: 100%;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
}

.btn-table:hover {
	border: 2px solid var(--orange);
	color: #fff;
	background-color: var(--orange);
}

.ml-1 {
	margin-left: 1vw;
}

.mr-1 {
	margin-right: 1vw;
}

.aboutUs{
	color: #f95700;
	text-align: center;
	font-size: 50px;
	margin: 50px;
	font-weight: 100;
}
.cont{
	padding: 70px;
	margin-left: 70px;
	margin-right: 70px;
	background-image:url("https://catherineasquithgallery.com/uploads/posts/2021-02/1613025011_50-p-kartinki-fona-oranzhevogo-tsveta-53.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 50px;
	color: white;
	font-weight: 200;
	font-size: 45px;
}
.foo{
	display: flex;
	margin: 100px;
	margin-top: 100px;
	margin-left: 150px;
	margin-right: 150px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 30px;
	font-weight: 150;
	justify-content: space-between;
}
.foo1{
	background-color:#f2efdf;
	padding: 70px;
	padding-left: 85px;
	padding-right: 85px;
	border-radius: 20px;
	text-align: center;
	box-shadow: 0px 6px 20px rgb(205, 129, 91);
}
.foo1-2 img{
	align-items: center;
}
.foo1-1{
	font-size: 30px;
	font-weight: 150;
}
.foo2{
	background-color: #f2efdf;
	padding: 70px;
	padding-left: 40px;
	padding-right: 40px;
	border-radius: 20px;
	text-align: center;
	box-shadow: 0px 6px 20px rgb(205, 129, 91);
}
.foo2-2{
	padding-left: 10px;
	padding-right: 10px;
}
.foo3{
	background-color: #f2efdf;
	padding: 70px;
	border-radius: 20px;
	text-align: center;
	box-shadow: 0px 6px 20px rgb(205, 129, 91);
}
.text-ab{
	text-align: center;
	font-size: 25px;
	margin: 50px;
	margin-left: 130px;
	margin-right: 130px;
	color: rgba(67, 67, 51, 0.649);
	line-height: 35px;
}
